<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <input type="hidden" name="id" th:value="${vo.id}"/>
          <div class="layui-form-item">
              <label for="L_type" class="layui-form-label">
                  <span class="x-red">*</span>菜单类型
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_type" name="type" required="" lay-verify="type"
                  autocomplete="off" class="layui-input" th:value="${vo.type}">
              </div>
              <div class="layui-form-mid layui-word-aux" style="display:none;">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_parentId" class="layui-form-label">
                  <span class="x-red">*</span>父菜单id
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_parentId" name="parentId" required="" lay-verify="parentId"
                  autocomplete="off" class="layui-input" th:value="${vo.parentId}">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_name" class="layui-form-label">
                  <span class="x-red">*</span>菜单名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_name" name="name" required="" lay-verify="name"
                  autocomplete="off" class="layui-input" th:value="${vo.name}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_description" class="layui-form-label">
                  <span class="x-red">*</span>菜单介绍
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_description" name="description" required="" lay-verify="description"
                  autocomplete="off" class="layui-input" th:value="${vo.description}">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_iconfont" class="layui-form-label">
                  <span class="x-red">*</span>菜单图标
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_iconfont" name="iconfont" required="" lay-verify="iconfont"
                  autocomplete="off" class="layui-input" th:value="${vo.iconfont}">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_url" class="layui-form-label">
                  <span class="x-red">*</span>菜单链接
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_url" name="url" required="" lay-verify="url"
                  autocomplete="off" class="layui-input"  th:value="${vo.url}">
              </div>
          </div>

          <div class="layui-form-item">
            <label for="L_deleteFlag" class="layui-form-label">
                <span class="x-red">*</span>启用状态
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_deleteFlag" name="deleteFlag" required="" lay-verify="deleteFlag"
                       autocomplete="off" class="layui-input" th:value="${vo.deleteFlag}">
            </div>
          </div>

          <div class="layui-form-item">
              <button  class="layui-btn" lay-filter="edit" lay-submit="">
                  提交修改
              </button>
          </div>
      </form>
    </div>
    <script>
      layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;

          //自定义验证规则
          form.verify({
              type: function(value){
                  if(value.length < 1){
                      return '必填';
                  }
              },
              parentId: function(value){
                  if(value.length < 1){
                      return '必填';
                  }
              },
              name: function(value){
                  if(value.length < 1){
                      return '必填';
                  }
              },
              description: function(value){
                  if(value.length < 1){
                      return '必填';
                  }
              },
              iconfont: function(value){
                  if(value.length < 1){
                      return '必填';
                  }
              },
              url: function(value){
                  if(value.length < 1){
                      return '必填';
                  }
              },
              deleteFlag: function(value){
                  if(value.length < 1){
                      return '必填';
                  }
              }
          });

          //监听提交
          form.on('submit(edit)', function(data){
              console.log(data.field);
              // ajax提交
              if(data.field.id <= 0){
                  alert("参数id不能为空！");
                  return false;
              }
              $.post("/common/menu/save", data.field, function(r){
                  let msg = "编辑成功";
                  if(r.code != 0){
                      msg = "编辑失败";
                  }
                  layer.alert(msg, {icon: 6},function () {
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);
                      //关闭当前frame
                      parent.layer.close(index);
                  });
              }, "json");

              return false;
          });
        
        
      });
    </script>
  </body>

</html>